{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lot</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ lot.nombre }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ lot.surface }}</td>
            </tr>
            <tr>
                <th>Etage</th>
                <td>{{ lot.etage }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ lot.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lot_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lot_edit', { 'id': lot.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
