{% extends "admin/base_admin.html.twig"%}

{% block body %}
<h1 class="text-center green-text">Liste des copropriétés</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coPro in coPros %}
            <tr>
                <td><a href="{{ path('copro_show', { 'id': coPro.id }) }}">{{ coPro.id }}</a></td>
                <td>{{ coPro.name }}</td>
                <td>{{ coPro.adresse }}</td>
                <td>{{ coPro.codePostal }}</td>
                <td>{{ coPro.ville }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('copro_show', { 'id': coPro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('copro_edit', { 'id': coPro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
