{% extends "admin/base_admin.html.twig"%}

{% block body %}
    <h1>Associationcopros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for associationCoPro in associationCoPros %}
            <tr>
                <td><a href="{{ path('associationcopro_show', { 'id': associationCoPro.id }) }}">{{ associationCoPro.id }}</a></td>
                <td>{{ associationCoPro.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('associationcopro_show', { 'id': associationCoPro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('associationcopro_edit', { 'id': associationCoPro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('associationcopro_new') }}">Create a new associationCoPro</a>
        </li>
    </ul>
{% endblock %}
