{% extends "admin/base_admin.html.twig"%}

{% block body %}
<h1 class="text-center green-text">Liste des associations de copropriétés</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for associationCoPro in associationCoPros %}
            <tr>
                <td><a href="{{ path('associationcopro_show', { 'id': associationCoPro.id }) }}">{{ associationCoPro.id }}</a></td>
                <td>{{ associationCoPro.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('associationcopro_show', { 'id': associationCoPro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('associationcopro_edit', { 'id': associationCoPro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
