{% extends "admin/base_admin.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/main_admin.css') }}">
{% endblock %}

{% block body %}


    <h5 class="hello">Bonjour {{ app.user.firstname }} {{ app.user.lastname }} </h5>

<div class="container">
    <div class="row" style="display: flex;">

        <div class="col card">
            <h2>Inscription</h2>
        <li><a href="/register">Enregister un nouveau membre</a></li>
        <li><a href="/syndic/new">Inscription nouveau syndicat</a></li>
        <li><a href="/copro/new">Inscription nouvelle copropriété</a></li>
        <li><a href="/associationcopro/new">Inscription nouvelle association de copropriété</a></li>
        </div>

        <div class="col card">
            <h2>Membres</h2>
            <li><a href="{{ path('syndic_index') }}">Liste des syndicats</a></li>
            <li><a href="{{ path('copro_index') }}">Liste des copropriétés</a></li>
            <li><a href="{{ path('associationcopro_index') }}">Liste des association de copropriétés</a></li>
        </div>

        <div class="col card">
            <h2>Gestion</h2>
            <li>Création d'un lot</li>
            <li>Gestion des droits </li>
            <li>Gestion des relevés compteurs</li>
        </div>



    </div>
</div>


{% endblock %}