{% extends "@FOSUser/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">

{% endblock %}
{% block fos_user_content %}

<section class="section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <div class="login-brand">
                    Inscription d'un nouveau membre
                </div>

                <div class="card card-primary">
                    <div class="card-header"></div>
                    {{ form_errors(form) }}
                    <div class="card-body">
                        <form method="POST">
                            <div class="row">
                                <div class="form-group col-6">
                                    <div class="form-group col-6">
                                        <label for="syndic">Statut</label>

                                        {{  form_widget(form.roles, { 'attr': {'class': 'form-select' } }) }}
                                        {{ form_errors(form.roles) }}
                                        {{ dump(form.roles) }}
                                    </div>
                                    <label for="syndic">Copro</label>

                                    {{  form_widget(form.copros, { 'attr': {'class': 'form-control' } }) }}
                                    {{ form_errors(form.copros) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="syndic">Syndic</label>

                                    {{  form_widget(form.syndics, { 'attr': {'class': 'form-control' } }) }}
                                    {{ form_errors(form.syndics) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="syndic">Association Copros</label>

                                    {{  form_widget(form.associationCoPros, { 'attr': {'class': 'form-control' } }) }}
                                    {{ form_errors(form.associationCoPros) }}
                                </div>

                                <div class="form-group col-6">
                                    <label for="syndic">lots</label>

                                    {{  form_widget(form.lots, { 'attr': {'class': 'form-control' } }) }}
                                    {{ form_errors(form.lots) }}
                                </div>


                                <div class="form-group col-6">
                                    <label for="first_name">Prénom</label>
                                    {{ form_widget(form.firstname) }}
                                    {{ form_errors(form.firstname) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="last_name">Nom</label>
                                    {{ form_widget(form.lastname) }}
                                    {{ form_errors(form.lastname) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="username">Nom d'utilisateur</label>
                                    {{ form_widget(form.username) }}
                                    {{ form_errors(form.username) }}
                                </div>

                                <div class="form-group col-12">
                                    <label for="adresse">Adresse</label>
                                    {{ form_widget(form.adresse) }}
                                    {{ form_errors(form.adresse) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="codePostal">Code Postal</label>
                                    {{ form_widget(form.codePostal) }}
                                    {{ form_errors(form.codePostal) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="ville">ville</label>
                                    {{ form_widget(form.ville) }}
                                    {{ form_errors(form.ville) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="email">Email</label>
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="email2">Email 2</label>
                                    {{ form_widget(form.email2) }}
                                    {{ form_errors(form.email2) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="phone">Numéro de téléphone</label>
                                    {{ form_widget(form.phone) }}
                                    {{ form_errors(form.phone) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="phone2">Numéro de téléphone 2</label>
                                    {{ form_widget(form.phone2) }}
                                    {{ form_errors(form.phone2) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="plainPassword.first">Mot de passe</label>
                                    {{  form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>
                                <div class="form-group col-6">
                                    <label for="plainPassword.second">Confirmer le mot de passe</label>
                                    {{  form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control' } }) }}
                                    {{ form_errors(form.plainPassword.second) }}
                                </div>

                                <div class="form-group col-12">
                                    <button type="submit" value="enregistrer" class="btn btn-primary btn-block">Enregistrer</button>
                                </div>

                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock fos_user_content %}
