{% extends "admin/base_admin.html.twig"%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">

{% endblock %}
{% block body %}
    <h1>Installation d'un compteur</h1>
    <div id="profil" class="col-12 card">
        <div class="card-header">
            <h3>Mon Matériel</h3>
        </div>
        <ul>
            <li><span>ID :</span>{{ compteur.id }}</li>
            <li id="typeCompteur"><span>Type :</span> {{ compteur.categorieCompteur }}</li>
            <li><span>Marque :</span> {{ compteur.marque }}</li>
            <li><span>Référence :</span>{{ compteur.reference }}</li>
            <li><span>Numéro de Série :</span> {{ compteur.serialNumber }}</li>
            <li><span>Date d'Achat:</span> {{ compteur.dateAchat|date("d/m/Y") }}</li>
            <li><span>Photo :</span> <img src="/images/compteur/{{ compteur.photo }}" width="100" height="auto"></li>

        </ul>
    </div>

    <div id="profil" class="col-12 card">
        <div class="card-header">
            <form>
                <p><b>Veuillez indiquer l'adresse ci-dessous</b></p>
                Adresse : <input id="onkeyup" type="text" >
            </form>
            <h3>Immeubles</h3>
        </div>
        <label for="immeubleSelectCompteur">Adresse</label>
        <select id="immeubleSelectCompteur" name="immeubleSelectCompteur" class="form-control" multiple="multiple" style="color:black;">
        </select>

        <label for="appartementSelectCompteur"> Appartements</label>
        <select id="appartementSelectCompteur" name="appartementSelectCompteur" class="form-control" multiple="multiple" style="color:black;">
        </select>

        <label for="pieceSelectCompteur"> Pièces</label>
        <select id="pieceSelectCompteur" name="pieceSelectCompteur" class="form-control" multiple="multiple" style="color:black;">
        </select>
    </div>

    <section>
        {% include 'radiateur/new.html.twig' %}

    </section>

    <form method="post" action="{{ path('compteurSubmit') }}">
        <input id="envoiIdPiece" name="idPiece" value="idPiece" type="hidden">
        <input id="envoiId" name="idCompteur" value="{{ compteur.id }}" type="hidden">
        <input value="Envoyer" type="submit">
    </form>

{% endblock %}
{% block javascript %}
    <script src="{{ asset('build/user_edit.js')}}"></script>
    <script src="{{ asset('build/ajax.js')}}"></script>
    <script src="{{ asset('build/header_admin.js')}}"></script>

{% endblock %}
