{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-6">
                <img src="/home/wilder/Bureau/caldex/web/images/logo.png" height="50" alt="">
            </div>
        </div>

        <ul>

            <li><span>Prénom :</span> {{ app.user.firstname }}</li>
            <li><span>Nom :</span> {{ app.user.lastname }}</li>
            <li><span>Adresse :</span>{{ app.user.adresse }} {{ app.user.codePostal }} {{ app.user.ville }}</li>
            <li><span>Téléphone :</span> {{ app.user.phone }}</li>
            <li><span>Email:</span> {{ app.user.email }}</li>
        </ul>

    </div>
{% endblock %}