

    <div id="listFromImmeuble">
        <div class="container">
            {% for copro in user.copros %}

            <div class="row" style="display: flex;" id="cardForUser">
                <div id="profil" class="col card">
                    <div class="card-header">
                        <h3>Votre Corpo</h3>
                    </div>
                    <ul>

                        <li><span>Nom:</span> {{ copro.name }}</li>
                        <li><span>Adresse:</span>  {{ copro.adresse }} {{ copro.codePostal }} {{ copro.ville }}</li>

                    </ul>


                </div>


            </div>

        </div>

           </br>
            {% for batiment in copro.batiments %}

                    <div class="col-xs-6 col-md-3">
                        <div class="card text-center">
                            <div class="card-header deep-orange lighten-1 white-text"><h3>Votre Immeuble</h3></div>
                            <div class="card-body">
                                <h4 class="card-title">Reference : {{ batiment.reference }}</h4>
                                <h5 class="card-text">Adresse : {{ batiment.adresse }} {{ batiment.codePostal }} {{ batiment.ville }}</h5>

                            </div>
                        </div>
                    </div>




            {% endfor %}
        {% endfor %}
    </div>
    <div id="listFromLot">


        {% for copro in user.copros %}


            <li><span>Nom : {{ copro.name }}</span></li>
            <li><span>Adresse : {{ copro.adresse }} {{ copro.codePostal }} {{ copro.ville }}</span> </li></br>
            {% for batiment in copro.batiments %}

                <li><span>Reference : {{ batiment.reference }}</span></li>
                <li><span>Adresse : {{ batiment.adresse }} {{ batiment.codePostal }} {{ batiment.ville }}</span> </li></br>
                {% for lot in batiment.appartements %}
                    <li><span>Numero : {{ lot.numero }}</span></li>
                    <li><span>Surface : {{ lot.surface }} </span> </li>
                    <li><span>Etage : {{ lot.etage }} </span> </li></br>

                {% endfor %}

            {% endfor %}
        {% endfor %}
    </div>
    <div id="listFromCopro">


        {% for copro in user.copros %}


            <li><span>Nom : {{ copro.name }}</span></li>
            <li><span>Adresse : {{ copro.adresse }} {{ copro.codePostal }} {{ copro.ville }}</span> </li></br>
            {% for batiment in copro.batiments %}

                <li><span>Reference : {{ batiment.reference }}</span></li>
                <li><span>Adresse : {{ batiment.adresse }} {{ batiment.codePostal }} {{ batiment.ville }}</span> </li></br>
                {% for lot in batiment.appartements %}
                    <li><span>Numero : {{ lot.numero }}</span></li>
                    <li><span>Surface : {{ lot.surface }} </span> </li>
                    <li><span>Etage : {{ lot.etage }} </span> </li></br>
                    {% for room in lot.rooms %}
                        <li><span>Nom : {{ room.nom }}</span></li>
                        <li><span>Surface : {{room.surface }} </span> </li></br>
                    {% endfor %}
                {% endfor %}

            {% endfor %}
        {% endfor %}
    </div>


