{% extends "admin/base_admin.html.twig"%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <p class="connect"> Dernière connexion le {{ app.user.lastLogin|date("d/m/Y") }}</p>
        <div class="row" style="display: flex;">
            <div id="profil" class="col-6 card">
                <div class="card-header">
                    <h3>Mon Profil</h3>
                </div>
                <ul>
                    <li><span>Prénom :</span> {{ app.user.firstname }}</li>
                    <li><span>Nom :</span> {{ app.user.lastname }}</li>
                    <li><span>Adresse :</span>{{ app.user.adresse }} {{ app.user.codePostal }} {{ app.user.ville }}</li>
                    <li><span>Téléphone :</span> {{ app.user.phone }}</li>
                    <li><span>Email:</span> {{ app.user.email }}</li>
                </ul>

                <button><a href="/profile/edit"> Modifier mon profil</a></button>
            </div>
            <div class="col-6 card">

                {% if not is_granted('ROLE_ADMIN') %}
                    <div class="card-header">
                        <h3>Ma copropriété</h3>
                    </div>
                    <ul>
                        <li><span>Nom :</span></li>
                        <li><span>Adresse :</span> </li>
                        <li><span>Téléphone: </span></li>
                    </ul>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="card-header">
                        <h3>Notifications</h3>
                    </div>
                    <ul>
                        <li><span>Erreurs compteur</span></li>
                        <li><span>Fichiers reçus</span> </li>
                    </ul>
                {% endif %}

            </div>

        </div>




    </div>
{% endblock %}