{% extends "admin/base_admin.html.twig"%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">

{% endblock %}
{% block body %}

<div class="container">
    <p class="connect"> Dernière connexion le {{ app.user.lastLogin|date("d/m/Y") }}</p>
    <div class="row" style="display: flex;">
        <div class="col-6 card">
            <div class="card-header">
                <h3>Mon Profil</h3>
            </div>


            <p> Je suis
                {% if is_granted('ROLE_ADMIN') %}
                    <b>Administrateur</b>
                {% endif %}

                {% if is_granted('ROLE_LOCATAIRE') %}
                    <b>Locataire</b>
                {% endif %}

                {% if is_granted('ROLE_PROPRIETAIRE') %}
                    <b>Propriétaire</b>
                {% endif %}

                {% if is_granted('ROLE_COPROPRIETAIRE') %}
                    <b>Copropriétaire</b>
                {% endif %}

                {% if is_granted('ROLE_ASSOCOPRO') %}
                    <b> une association de copropriété</b>
                {% endif %}

                {% if is_granted('ROLE_SYNDICAT') %}
                    <b> un syndicat de copropriété</b>
                {% endif %}
            </p>



            <ul>

                <li><span>Prénom :</span> {{ app.user.firstname }}</li>
                <li><span>Nom :</span> {{ app.user.lastname }}</li>
                <li><span>Adresse :</span>{{ app.user.adresse }} {{ app.user.codePostal }} {{ app.user.ville }}</li>
                <li><span>Téléphone :</span> {{ app.user.phone }}</li>
                <li><span>Email:</span> {{ app.user.email }}</li>
            </ul>

            <button><a href="/profile/edit"> Modifier mon profil</a></button>
        </div>
        <div class="col-6 card">
            {% if is_granted('ROLE_ASSOCOPRO') %}
                <div class="card-header">
                    <h3>Ma copropriété</h3>
                </div>
                <ul>
                    <li><span>Nom :</span></li>
                    <li><span>Adresse :</span> </li>
                    <li><span>Téléphone: </span></li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_SYNDICAT') %}
                <div class="card-header">
                    <h3>Ma copropriété</h3>
                </div>
                <ul>
                    <li><span>Nom :</span></li>
                    <li><span>Adresse :</span> </li>
                    <li><span>Téléphone: </span></li>
                </ul>
            {% endif %}

            {#A compléter#}
            {% if is_granted('ROLE_COPROPRIETAIRE') %}
                <div class="card-header">
                    <h3>Ma copropriété</h3>
                </div>
                <ul>
                    <li><span>Nom :</span></li>
                    <li><span>Adresse :</span> </li>
                    <li><span>Téléphone: </span></li>
                </ul>
            {% endif %}

            {#A compléter#}
            {% if is_granted('ROLE_PROPRIETAIRE') %}
                <div class="card-header">
                    <h3>Ma copropriété</h3>
                </div>
                <ul>
                    <li><span>Nom :</span></li>
                    <li><span>Adresse :</span> </li>
                    <li><span>Téléphone: </span></li>
                </ul>
            {% endif %}

            {#A compléter#}
            {% if is_granted('ROLE_LOCATAIRE') %}
                <div class="card-header">
                    <h3>Ma copropriété</h3>
                </div>
                <ul>
                    <li><span>Nom :</span></li>
                    <li><span>Adresse :</span> </li>
                    <li><span>Téléphone: </span></li>
                </ul>
            {% endif %}
        </div>
    </div>


{#{{ dump(app.user) }}#}





</div>
{% endblock %}