{% extends "admin/base_admin.html.twig" %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ user.adresse }}</td>
        </tr>
        <tr>
            <th>Codepostal</th>
            <td>{{ user.codePostal }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ user.ville }}</td>
        </tr>
        <tr>
            <th>Email2</th>
            <td>{{ user.email2 }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <th>Phone2</th>
            <td>{{ user.phone2 }}</td>
        </tr>
        </tbody>
    </table>

    <br>
    <h1>Pieces</h1>


{% endblock %}