{% extends "admin/base_admin.html.twig"%}


{% block body %}
    <h1>Radiateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Hauteur</th>
                <th>Longueur</th>
                <th>Type</th>
                <th>Puissancedeltat50</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for radiateur in radiateurs %}
            <tr>
                <td><a href="{{ path('radiateur_show', { 'id': radiateur.id }) }}">{{ radiateur.id }}</a></td>
                <td>{{ radiateur.hauteur }}</td>
                <td>{{ radiateur.longueur }}</td>
                <td>{{ radiateur.type }}</td>
                <td>{{ radiateur.puissanceDeltaT50 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('radiateur_show', { 'id': radiateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('radiateur_edit', { 'id': radiateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('radiateur_new') }}">Create a new radiateur</a>
        </li>
    </ul>
{% endblock %}
