{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fournisseurcompteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseurCompteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseurCompteur.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fournisseurCompteur.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ fournisseurCompteur.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ fournisseurCompteur.ville }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournisseurcompteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fournisseurcompteur_edit', { 'id': fournisseurCompteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
