
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Contactez-nous</h1>
            <p class="lead text-muted">
                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir la communication des informations vous concernant, toute demande en ce sens transmise doit être transmise au responsable de traitement
                via l'adresse postale  ou via l'email.
            </p>
            <i data-feather="alert-triangle"></i> * Champs obligatoires.

        </div>
    </section>
<!-- Section: Contact v.3 -->
    <section class="contact-section col-md-12">

    <!-- Form with header -->
    <div class="card">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-8">
                <form action="" method="post">
                <div class="card-body form">

                    <!-- Header -->
                    <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Contactez-nous:</h3>

                    <!-- Grid row -->
                    <div class="row">
                        {{ form_start(formInfo) }}
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">

                                {{ form_widget(formInfo.nomInfo, { 'attr': {'class': 'form-control'} }) }}
                                <label for="form-contact-name" class="">Votre nom</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_widget(formInfo.prenomInfo, { 'attr': {'class': 'form-control'} }) }}
                                <label for="form-contact-name" class="">Votre prenom</label>
                            </div>
                        </div>
                        <!-- Grid column -->


                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_widget(formInfo.emailInfo, { 'attr': {'class': 'form-control'} }) }}
                                <label for="form-contact-email" class="">Votre email</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_widget(formInfo.telephoneInfo, { 'attr': {'class': 'form-control'} }) }}
                                <label for="form-contact-phone" class="">Votre téléphone</label>
                            </div>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(formInfo.adresseInfo, { 'attr': {'class': 'form-control'} }) }}
                                <label for="form-contact-company" class="">Votre adresse</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(formInfo.messageInfo, { 'attr': {'class': 'form-control md-textarea'} }) }}
                                <label for="form-contact-message">Your message</label>
                                {{ form_row(formInfo._token) }}
                                <button type="submit" class="btn btn-default">Envoyer</button>

                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4">

                <div class="card-body contact text-center h-100 white-text">

                    <h3 class="my-4 pb-2">Nos Coordonnées</h3>
                    <hr class="hr-light my-4">
                    <ul class="text-lg-left list-unstyled ml-4">
                        <li>
                            <p class="contact-adresse text-center"><i data-feather="mail"></i> Email :</p>
                            <p class="contact-adresse text-center">contact@caldex.fr</p>
                        </li>
                        <li>
                            <p class="contact-adresse text-center"><i data-feather="phone"></i> Téléphone :</p>
                            <p class="contact-adresse text-center">+33 386 685 651</p>
                        </li>
                        <li>
                           <p class="contact-adresse text-center"><i data-feather="map-pin"></i> Adresse :</p>
                            <p class="contact-adresse text-center">Strasbourg, 67000, FRANCE</p>
                        </li>

                    </ul>


                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Form with header -->

</section>
<!-- Section: Contact v.3 -->



