{% extends 'base.html.twig' %}

{% block body %}
    <h1>Syndics list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for syndic in syndics %}
            <tr>
                <td><a href="{{ path('syndic_show', { 'id': syndic.id }) }}">{{ syndic.id }}</a></td>
                <td>{{ syndic.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('syndic_show', { 'id': syndic.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('syndic_edit', { 'id': syndic.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('syndic_new') }}">Create a new syndic</a>
        </li>
    </ul>
{% endblock %}
