{% extends "admin/base_admin.html.twig"%}

{% block body %}
    <h1>Syndic</h1>

    <table>
        <tbody>

        <tr>
            <th>Nom</th>
            <td>{{ syndics.nom }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ syndics.adresse }}</td>
        </tr>
        <tr>
            <th>Codepostal</th>
            <td>{{ syndics.codePostal }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ syndics.ville }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    {% for immeuble in syndics.immeuble %}
        {% for lot in immeuble.appartements %}

            <table>
                <tbody>

                <tr>
                    <th>Numero</th>
                    <td>{{ lot.numero}}</td>
                </tr>
                <tr>
                    <th>Surface</th>
                    <td>{{ lot.surface }}</td>
                </tr>
                <tr>
                    <th>etage</th>
                    <td>{{ lot.etage }}</td>
                </tr>
                <tr>
                    <th>Tantieme</th>
                    <td>{{ lot.tantieme }}</td>
                </tr>
                <tr>
                    <th>image</th>
                    <td>{{ lot.photo }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            {% for piece in appartements.rooms.room %}
            <table>
                <tbody>

                <tr>
                    <th>Nom</th>
                    <td>{{ piece.nom}}</td>
                </tr>
                <tr>
                    <th>Surface</th>
                    <td>{{ piece.surface }}</td>
                </tr>
                <tr>
                    <th>Photo</th>
                    <td>{{ piece.photo }}</td>
                </tr>

                </tbody>
            </table>
            {% endfor %}
        {% endfor %}
    {% endfor %}



{% endblock %}
