{% extends "admin/base_admin.html.twig"%}

{% block body %}
    <h1>Syndic</h1>

    <table>
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ syndics.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ syndics.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ syndics.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ syndics.ville }}</td>
            </tr>
        </tbody>
    </table>
<br>
    {% for immeuble in syndics.immeuble %}
        <table>
            <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ immeuble.reference}}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ immeuble.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ immeuble.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ immeuble.ville }}</td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('syndic_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('syndic_edit', { 'id': syndic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
